# Global Environment Variables
NODE_ENV=development
PORT=5000

# Backend Configuration
JWT_SECRET=your_jwt_secret_here
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nexus_db?schema=public"
TELEGRAM_BOT_TOKEN="your_bot_token_here"

# Frontend Configuration
VITE_API_BASE_URL=http://localhost:5000/api
